.chatBoxWrapper {
  position: fixed;
  bottom: 20px;
  z-index: 1000;
}

.pos-0 {
  right: 600px;
}

.pos-1 {
  right: 910px;
}

@media (max-width: 768px) {
  .pos-0 {
    right: 300px;
  }
  .pos-1 {
    display: none;
  }
}
