.wrapper {
  height: 100%;
  width: 25%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  padding-top: calc(var(--default-layout-header-height) + 30px);
  padding-left: 12px;

  overflow-y: auto;
  position: fixed;
  z-index: 2;
}
