.statusBar {
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  justify-content: center;
  height: 120px;
  background-color: white;
  border-radius: 12px;
  padding-right: 12px;
  padding-left: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.itemBar {
  display: flex;
  height: 50%;
  align-items: center;
}

.profile {
  padding-right: 12px;

  &:hover {
    transform: scale(1.1); // Replace 'scale: ;' with 'transform: scale(1.1);'
  }
}

.itemText {
  padding: 8px;
  border-radius: 12px;
  width: 100%;
  border: 1px solid #333;
  font-size: 14px;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 6px;
}

.postBtn {
  width: 100%;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid var(--primary);
  height: 44px;
  width: 44px;
}

.postContainer {
  height: 100%;
  padding-bottom: 48px;
}