.wrapper {
  width: 100%;
}

.profile {
  padding-right: 12px;

  &:hover {
    transform: scale(1.1); // Replace 'scale: ;' with 'transform: scale(1.1);'
  }
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid var(--primary);
  height: 44px;
  width: 44px;
}

.postContainer {
  height: 100%;
  margin: auto;
  width: 75%;
  padding-bottom: 48px;
  padding-left: 16px;
  padding-right: 16px;
}

.noPosts {
  text-align: center;
  color: gray;
  margin-top: 16px;
}
