.wrapper {
  width: 100%;
}

.postContainer {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px 48px;

  @media screen and (max-width: 768px) {
    width: 100%; // Full chiều ngang
    padding: 0 12px 48px; // Padding nhỏ lại
  }
}

.noPosts {
  text-align: center;
  color: gray;
  margin-top: 16px;
}
