.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacer: 9px;
  --search-button-width: 52px;

  width: 100%;
  height: var(--default-layout-header-height, 60px);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.inner {
  height: 100%;
  width: 100%;
  // max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo img {
  width: 48px;
  height: 48px;
  object-fit: cover;
}

.webName {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--primary);
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.search-bar {
  flex: 1;
  max-width: 320px;
  margin: 0 12px;
  display: flex;
  align-items: center;
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: var(--search-border-radius);
  padding-left: 16px;
  height: var(--search-height);
  border: 1.5px solid transparent;

  input {
    flex: 1;
    font-size: 1.4rem;
    background: transparent;
    border: none;
    outline: none;
  }

  &:hover,
  &:focus-within {
    border-color: var(--primary);
  }

  .search-btn {
    background: transparent;
    padding-right: 12px;
    color: rgba(22, 24, 35, 0.75);
    cursor: pointer;
  }
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.user-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
  // background-color: var(--primary);
  border: none;
}

.menu-item {
  // background-color: var(--primary);
  border: 0.5px solid;
  cursor: pointer;
  font-size: 14px;
  text-align: left;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.2s;
  // color: #ffff;

  &:hover {
    background-color: #0000;
    color: #ffff;
  }
}


// Responsive for smaller screens
@media screen and (max-width: 768px) {
  .search-bar {
    // display: none;
  }

  .webName {
    display: none;
  }

  .inner {
    padding: 0 8px;
  }

  .menu {
    gap: 8px;
  }
}
