.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding-top: var(--default-layout-header-height);
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  margin-left: 280px; // Sidebar trái
  margin-right: 250px; // Sidebar phải (FriendSidebar)

  @media screen and (max-width: 768px) {
    margin-left: 0;
    margin-right: 0;
    padding: 12px;
  }
}
