.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.container {
  flex: 1;
  overflow-y: auto;
  width: 100%;
  margin-top: var(--default-layout-header-height);
  padding: 0 16px; // thêm padding để tránh dính sát lề trên mobile

  @media (min-width: 768px) {
    padding: 0 32px;
  }
}
