.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 12px;
  overflow: hidden;

  img,
  video {
    display: block;
    max-width: 90vw;
    max-height: 90vh;
    max-height: 90vh;
    border-radius: 12px;
    object-fit: contain;
  }
}

.closeBtn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  color: white;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  z-index: 10000;
}

.navBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10000;

  &.left {
    left: 12px;
  }
  &.right {
    right: 12px;
  }
}
